.contact-form {
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 50px;
}

body {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #dda6dc;
}

h1 {
  color: #993092;
}

strong {
  color: #993092;
}
